@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "Inter", sans-serif;
}

* {
  font-family: "Poppins", "Inter", sans-serif !important;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
